<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%c{0}][%M][%L] - %msg%n"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
    <logger name="com.paat.realtime" level="INFO"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="ERROR"/>
    <!--    <logger name="org.apache.flink.runtime" level="INFO"/>-->

    <!-- debug flink -->
    <logger name="org.apache.flink" level="INFO"/>
    <!--<logger name="org.apache.flink.streaming.api.windowing.triggers" level="DEBUG"/>-->
    <!--    <logger name="org.apache.flink.streaming.api.windowing.windows" level="DEBUG"/>-->
    <!--<logger name="org.apache.flink.streaming.api.operators" level="DEBUG"/>-->
    <!--    <logger name="org.apache.flink.streaming.runtime.operators.windowing" level="DEBUG"/>-->
</configuration>